<!-- Это заголовок страницы. -->
<!-- d-flex - превращает div в flex-контейнер. Это позволяет легко управлять расположением дочерних элементов. -->
<!-- justify-content-between - расталкивает дочерние элементы по краям (заголовок влево, кнопку вправо). -->
<!-- align-items-center - выравнивает элементы по вертикали по центру. -->
<!-- mb-4 - 'margin-bottom' размером 4. Создает отступ под заголовком. -->
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Наш Блог</h1>
  <!-- btn - базовый класс для кнопки. -->
  <!-- btn-primary - делает кнопку синей (основной цвет темы). -->
  <a routerLink="/blogs/create" class="btn btn-primary">Создать пост</a>
</div>
<div>
  <input #searchInput class="input" placeholder="Поиск">
  <button class="btn btn-outline-secondary" (click)="searchBlogs(searchInput.value)">Найти</button>
</div>

<!-- Блок для индикатора загрузки. -->
<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border text-primary" role="status">
  </div>
</div>

<!-- row - это контейнер для колонок нашей сетки. -->
<div *ngIf="!isLoading && posts.length > 0" class="row">
  
  <div *ngFor="let post of posts" class="col-md-6 mb-4">

    <div class="card h-100">  
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ post.title }}</h5>
        <img src="C:\Users\oadmin\Pictures\Camera Roll\WIN_20250320_10_15_24_Pro.jpg">
        <p class="card-text">{{ post.content | slice:0:150 }}...</p>
          <button *ngFor="let tag of post.tags" class="ref" (click)="searchByTag(tag.name)">{{tag.name}}</button>
        <a [routerLink]="['/blogs', post.id]" class="btn btn-outline-secondary mt-auto">Читать далее</a>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!isLoading && posts.length === 0" class="alert alert-info">
  Пока нет ни одного поста. Станьте первым!
</div>