<!-- src/app/app.component.html -->
<header>
  <!-- <nav>
    <a routerLink="/home" routerLinkActive="active-link">Главная</a>
    <a routerLink="/auth/login" routerLinkActive="active-link">Вход</a>
    <a routerLink="/auth/register" routerLinkActive="active-link">Регистрация</a>
    <a routerLink="/blog" routerLinkActive="active-link">Блог</a>
    
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">My Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ms-auto">
        <!-- nav-item - просто обертка для каждой ссылки. -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Блог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Вход</a>
        </li>
        <li>
        <a class="nav-link" routerLink="/auth/register" routerLinkActive="active">Регистрация</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>